/*DARK THEME*/
 .dark .tab-content.orient-top , .dark .tab-content.orient-bottom {
    border-color: transparent #000 #000 #000;   border-width: 1px !important; 
}


.dark .nav.nav-tabs.orient-top {
    border-bottom-color: #fff; 
    border-right-color: #fff
}

.dark .nav-tabs.orient-top {
    background-color: #6d6b6b; border-bottom-color: #000;
}
.dark .nav-tabs.orient-top  .nav-link:hover {
    border-color: transparent transparent #fff transparent; /*TAB EN SURVOL*/ 
    background-color: #404040; color: #aaa; 
}
.dark .nav-tabs.orient-top .nav-link {/*TAB NON-ACTIF*/  
    font-size: 0.7rem
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: #6d6b6b; color: #9fa0a0;
    border-color: transparent transparent #fff transparent;
}  
.dark .nav-tabs.orient-top  .nav-link.active, .nav-tabs.orient-top .nav-item.show .nav-link {/*TAB ACTIF*/ 
    color: #eee ; font-weight: bold; font-size: 0.9rem;
    background-color: rgb(51,51,51);;
    border-color: #fff #fff #0000 #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
/* ******************************************************************************************** */


.dark .nav.nav-tabs.orient-bottom {
    border-right-color: #fff;  border-right-width: 3px;
}
.dark .nav-tabs.orient-bottom {
	background-color: #6d6b6b; border-top-color: #eee;
}
.dark .nav-tabs.orient-bottom  .nav-link:hover {
	border-color:  #fff transparent transparent transparent;
	background-color: #404040; color: #aaa; 
}
.dark .nav-tabs.orient-bottom .nav-link {
	font-size: 0.7rem
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: #6d6b6b; color: #9fa0a0;
    border-color:  #fff transparent transparent transparent;
}	
.dark .nav-tabs.orient-bottom  .nav-link.active, .nav-tabs.orient-bottom .nav-item.show .nav-link {
    color: #eee ; font-weight: bold; font-size: 0.9rem;
    background-color: rgb(51,51,51);
    border-color: #0000 #fff #fff #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.dark .tab-pane.fade.active.show {
    background-color: rgb(51,51,51);
}


